/**
 * Fonts
 */
$sans: 'Source Sans Pro', sans-serif;
$serif: 'Merriweather', serif;
$trajan: trajan-pro-3, Times, serif;

/**
 * Colors
 */
$background: #fff;
$text: #404040;

$light-light-tint: #ebf1f6;
$light-tint: #e0ecf8;
$medium-light-tint: #cce4ff;
$medium-tint: #aad1ff;
$dark-tint: #12284a;

$accent: #c4960c;
$accent-light: #edd378;

$link-color: #4a90e2;