/**
 * Fonts
 */
$sans: 'Source Sans Pro', sans-serif;
$serif: 'Merriweather', serif;
$trajan: trajan-pro-3, Times, serif;

/**
 * Colors
 */
$background: #fff;
$light-tint: #e0ecf8;
$dark-tint: #12284a;
$accent: #c4960c;
$accent-light: #edd378;
$text: #404040;
