/** SCSS partials **/
@import "variables";
@import "mixins";

/** Underscore stylesheet broken out into partials **/
@import "partials/normalize";
@import "partials/typography-elements";
@import "partials/architecture";
@import "partials/forms";
@import "partials/front";
@import "partials/links";
@import "partials/media";
@import "partials/menus";

/** URI branding and specifics **/
@import "partials/uri";
@import "partials/uri-menu";

@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Source+Sans+Pro:400,700") all;


html {
	font-size: 16px;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article.post {
	width: 100%;
}
.entry-title {
	font: 600 2rem/1.5 $sans;
	margin-bottom: .25em;
}
.entry-content {
	max-width: 38.75rem;
	line-height: 1.625;
	@include device(tablet) {
		max-width: 100%;
	}
}
.entry-footer {
	margin-bottom: 3em;
}
.entry-footer span {
	margin-right: .5em;
}


/*--------------------------------------------------------------
## Events (Localist)
--------------------------------------------------------------*/
#lw .lwe {
	font-family: $sans;
	line-height: 1.5rem;
}
#lw ul {
	margin-left: 0;
	padding-left: 0;
}
#lw li.lwe {
	border: 0 !important;
	margin-bottom: 2em;
	padding: 1em 0 !important;
}
#lw .lwn {
	font-size: 1.25rem;
	margin-bottom: .5em;
}
#lw .lwd {
	font-family: $serif;
	font-size: 1rem;
	line-height: 1.5rem;
}
#lw .lwl {
	font-size: 1rem;
}


/*--------------------------------------------------------------
## URI in the News feed items
--------------------------------------------------------------*/
.hungryfeed_item {
	font-family: $sans;
	a {
		font-weight: 700;
	}
}

