/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.nav-wrapper {
	height: 100%;
	position: relative;
}
.main-navigation {
	background: transparent url("img/black80.png") 0 0 repeat;
	clear: both;
	display: block;
	font-family: $sans;
	font-weight: 600;
	min-height: 55px;
	position: absolute;
	bottom: 0;
	width: 100%;
	@include device(phone) {
		bottom: auto;
		top: 80%;
	}
	@include device(bigphone) {
		bottom: auto;
		top: 80%;
	}
	ul { // first level
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		li {
			float: left;
			margin-bottom: 0;
			position: relative;
			width: 20%;
			@include device(phone) {
				float: none;
				width: 100%;
			}
			@include device(bigphone) {
				float: none;
				width: 100%;
			}
			a {
				color: $background;
				display: block;
				height: 55px;
				line-height: 55px;
				text-align: center;
				text-decoration: none;
				@include fade(background-color);
			}
			a:hover {
				background-color: #4a90e2;
			}
		}
		
		ul { // second level
			background-color: $background;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 55px;
			left: -999em;
			z-index: 99999;			
			@include device(phone) {
				@include fade(height, 250ms);
				display: none;
				float: none;
				height: 0;
				position: relative;
				top: 0;
				width: 100%;
			}
			@include device(bigphone) {
				@include fade(height, 250ms);
				display: none;
				float: none;
				height: 0;
				position: relative;
				top: 0;
				width: 100%;
			}
			li {
				width: 100%;
				float: none;
				&.current-menu-item {
					background-color: $medium-light-tint;
					a {
						color: $text;
					}
				}
				a {
					background-color: $background;
					color: $link-color;
					height: auto;
					line-height: 24px;
					padding-top: 12px;
					padding-bottom: 12px;
					@include device(phone) {
						display: block;
						width: 100%;
					}
					@include device(bigphone) {
						display: block;
						width: 100%;
					}
					@include fade(background-color);
				}
				a:hover {
					background-color: $link-color;
					color: $background;
				}
			}
			
			ul { // third level
				left: -999em;
				top: 0;
			}
		}
	}

} // end .main-navigation

.menu-item-has-children {
	&:after {
		@include fade(all, 250ms);
		color: $background;
		content: " \25BE";
		position: absolute;
		right: 1em;
		top: 1em;
	}
}
.menu-item-has-children:hover {
	&:after {
		transform: rotate(180deg) translateY(-3px);
	}
}


@include device(bigphone) {
	.menu-item-has-children {
		&:after {
			@include fade(all, 250ms);
			color: $background;
			content: " \25BE";
			position: absolute;
			right: 1em;
			top: 1em;
		}
	}
	.menu-item-has-children:hover {
		&:after {
			transform: rotate(180deg) translateY(-3px);
		}
	}
}

.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-parent > a {
	background-color: $dark-tint;
	border-bottom: 4px solid $link-color;
	margin-top: -3px;
	padding-top: 3px;
	height: 58px;
	@include device(phone) {
		background-color: $link-color;
		border: 0;
	}
	@include device(bigphone) {
		background-color: $link-color;
		border: 0;
	}
}
.main-navigation li.current-menu-item > a:hover,
.main-navigation li.current-menu-parent > a:hover {
	background-color: $link-color;
}




.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
	color: $background;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: 0;
	@include device(phone) {
		display: block;
		height: auto;
	}
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	height: 55px;
	width: 100%;
	&:after {
		@include fade(all, 250ms);
		color: $text;
		content: " \25BE";
		position: absolute;
		right: 1em;
		top: 1em;
	}
}
.toggled {
	.menu-toggle {
			color: #fff;
			background-color: #000;
			&:after {
				transform: rotate(180deg) translateY(-3px);
			}
	}
}

@include device(tablet) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
@include device(desktop) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}



/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
