/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.nav-wrapper {
	height: 100%;
	position: relative;
}
.main-navigation {
	background: transparent url("img/black80.png") 0 0 repeat;
	clear: both;
	display: block;
	font-family: $sans;
	font-weight: 600;
	min-height: 55px;
	position: absolute;
	bottom: 0;
	width: 100%;

	ul { // first level
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		li {
			float: left;
			margin-bottom: 0;
			position: relative;
			width: 20%;
			a {
				color: $background;
				display: block;
				height: 55px;
				line-height: 55px;
				text-align: center;
				text-decoration: none;
				transition: background-color 100ms linear;
			}
			a:hover {
				background-color: #4a90e2;
			}
		}
		
		ul { // second level
			background-color: $background;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 55px;
			left: -999em;
			z-index: 99999;
			
			li {
				width: 100%;
				float: none;
				a {
					color: $link-color;
					height: auto;
					line-height: 24px;
					padding-top: 12px;
					padding-bottom: 12px;
					width: 200px;
					transition: background-color 100ms linear;
				}
				a:hover {
					background-color: $link-color;
				}
			}
			
			ul { // third level
				left: -999em;
				top: 0;
			}
		}
	}

} // end .main-navigation



.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-parent > a {
	background-color: $dark-tint;
	border-bottom: 4px solid $link-color;
	margin-top: -3px;
	padding-top: 3px;
	height: 58px;
}
.main-navigation li.current-menu-item > a:hover,
.main-navigation li.current-menu-parent > a:hover {
	background-color: $link-color;
}




.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
	color: $background;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}



/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
