/**
 * URI brand elements
 */
 
.uri-branding {
	background-color: $dark-tint;
	border-top: 6px solid $accent;
	height: 158px;
	padding-top: 1.75em;
	overflow: visible;
}
.uri-branding h1 {
	line-height: 0;
	margin-top: .75rem;
}
.uri-branding h1 a {
	/*background: transparent url(img/uri-logo.svg) 0 0 no-repeat;*/
	color: $accent;
	display: block;
	height: 89px;
	/* text-indent: -999em; */
	width: 209px;
}

#logo {
	font: 500 18px $trajan;
	text-transform: uppercase;
}
#logo span {
	display: block;
}
#logo .the,
#logo .of-rhode-island {
	letter-spacing: .055rem;
	margin-bottom: -.375rem;
}
#logo .university {
	font-size: 30px;
	margin-bottom: -.3rem;
}
#logo b {
	font-weight: inherit;
	@include fade(color);
}
.uri-branding h1 a:hover b {
	color: #f0e7B9;
}

.think-big-we-do {
	background: transparent url(img/think-big-we-do.png) 0 0 no-repeat;
	background-size: contain;
	float: right;
	height: 87px;
	margin-top: -41px;
	position: relative;
	text-indent: -999em;
	width: 202px;
	z-index: 91;
}
.site-header {
	background-position: 50% 0;
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	margin-bottom: 2em;
	position: relative;
}
.site-branding {
	background: transparent url(img/black30.png) 0 0 repeat;
	bottom: 60px;
	padding: 1em 4em;
	position: absolute;
	z-index: 90;
}
.site-title, .site-description {
	margin: 0;
	/* color | offset-x | offset-y | blur-radius */
	text-shadow: #000 2px 1px 0;
}
.site-title {
	font: 500 48px/1.2 $trajan;
}
.site-title a:link {
	text-decoration: none;
	box-shadow: none;
	border: 0;
}
.site-title a:hover {
	background-color: $medium-light-tint;
	text-decoration: underline;
}
.site-description {
	font: 600 18px/1.5 $sans;
}
.search-wrapper {
	clear: right;
	float: right;
	margin-top: -180px;
	text-align: right;
}
.search-wrapper label {
	margin-right: -4px;
}
.search-wrapper input {
	height: 2.25rem;
	padding: .375rem .75rem;
	@include fade(color);
}
.search-wrapper input.search-field {
	border: 0;
	border-radius: 0;
	font: 600 18px/1.5 $sans;
	-webkit-appearance: textfield;
}
.search-wrapper input.search-submit:hover {
	background-color: $accent;
}

.single .site-main, .home .site-main {
	margin-right: 0;
}

.read-more {
	display: inline-block;
	margin-bottom: 1em;
}
.media-contact {
	margin-bottom: 2em;
	h4 {
		margin-bottom: 0;
	}
}
.media-name {
	white-space: nowrap;
}

aside.media-contact {
	@extend .hanging-right;
	background-color: $light-tint;
	padding: 0 1.5rem 2rem;
	width: 310px;
	h1 {
		font-size: 28px;
		text-align: center;
	}
	h2 {
		font-size: 18px;
		margin-bottom: 0;
	}
}

.end-of-article-call {
	background-color: $light-tint;
	font-family: $sans;
	font-size: 18px;
	margin: 4rem 0 4rem 25%;
	padding: 1.5rem 2rem;
	
	h4 {
		margin-top: 0;
	}
	
}


/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	font-family: $sans;
	text-align: right;
}
.site-footer a {
	font-weight: 600;
}
.site-footer ul, .site-footer p {
	margin: 0 0 1em; padding: 0;
}

.internal {
	background: transparent url(img/lock.svg) 0 50% no-repeat;
	float: right;
	padding-left: 20px !important;
}
.tactical li, .internal li {
	display: inline;
}
.tactical li:after, .internal li:after {
	content: ' - ';
}
.tactical li:last-child:after, .internal li:last-child:after {
	content: '';
}



