/**
 * URI brand elements
 */
 
.uri-branding {
	background-color: $dark-tint;
	border-top: 6px solid $accent;
	height: 158px;
	padding-top: 1.75em;
	overflow: visible;
	@include device(phone) {
		height: 8em;
	}
}
.uri-branding h1 {
	line-height: 0;
	margin-top: .75rem;
}
.uri-branding h1 a {
	/*background: transparent url(img/uri-logo.svg) 0 0 no-repeat;*/
	color: $accent;
	display: block;
}

#logo {
	display: block;
	font: 500 1.125rem $trajan;
	text-transform: uppercase;
	@include device(phone) {
		font-size: 14px;
		margin-left: 10%;
	}
}
#logo span {
	display: block;
}
#logo .the,
#logo .of-rhode-island {
	letter-spacing: .055rem;
	margin-bottom: -.375rem;
}
#logo .university {
	font-size: 1.875rem;
	margin-bottom: -.3rem;
	@include device(phone) {
		font-size: 23.5px;
	}
}
#logo b {
	font-weight: inherit;
	@include fade(color);
}
.uri-branding h1 a:hover b {
	color: $light-light-tint;
}

.think-big-we-do {
	background: transparent url(img/think-big-we-do.png) 0 0 no-repeat;
	background-size: contain;
	float: right;
	height: 87px;
	margin-top: -40px;
	position: relative;
	text-indent: -999em;
	width: 202px;
	z-index: 91;
	@include device(phone) {
		display: none;
	}
	@include device(bigphone) {
		background-size: 75%;
	}
}
.site-header {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 2em;
	position: relative;
	@include device(phone) {
		.site {
			padding: 0;
		}
	}
}
.site-branding {
	background: transparent url(img/black30.png) 0 0 repeat;
	bottom: 4rem;
	padding: 1em 4em;
	position: absolute;
	z-index: 90;
	@include device(phone) {
		padding: 1em;
	}
}
.site-title, .site-description {
	margin: 0;
	/* color | offset-x | offset-y | blur-radius */
	text-shadow: #000 .125rem .0625rem 0;
}
.site-title {
	font: 500 3rem/1.2 $trajan;
}
.site-title a:link {
	text-decoration: none;
	box-shadow: none;
	border: 0;
}
.site-title a:hover {
	background-color: $medium-light-tint;
	text-decoration: underline;
}
.site-description {
	font: 600 1.2rem/1.5 $sans;
}
.search-wrapper {
	clear: right;
	float: right;
	margin-top: -11.5rem;
	text-align: right;
	@include device(phone) {
		display: none;
	}
}
.search-wrapper label {
	margin-right: -.25em;
	float: left;
}
.search-wrapper input {
	height: 2.25rem;
	padding: .375rem .75rem;
	@include fade(color);
}
.search-wrapper input.search-field {
	border: 0;
	border-radius: 0;
	font: 600 1.2rem/1.5 $sans;
	-webkit-appearance: textfield;
}
.search-wrapper input.search-submit:hover {
	background-color: $accent;
}

.single .site-main, .home .site-main {
	margin-right: 0;
}

.read-more {
	display: inline-block;
	margin-bottom: 1em;
}
.media-contact {
	margin-bottom: 2em;
	h4 {
		margin-bottom: 0;
	}
}
.media-name {
	white-space: nowrap;
}

aside.media-contact {
	@extend .hanging-right;
	background-color: $light-tint;
	padding: 0 1.5rem 2rem;
	width: 19rem;
	@include device(phone) {
		float: right !important;
		margin: 1em .5em !important;
		width: 50% !important;
	}
	@include device(tablet) {
		max-width: 35%;
	}
	h1 {
		font-size: 1.75rem;
		text-align: center;
	}
	h2 {
		font-size: 1.2rem;
		margin-bottom: 0;
	}
	.media-thumbnails {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			margin: .25em;
			padding: 0;
		}
	}
}

.end-of-article-call {
	background-color: $background;
	font-family: $sans;
	font-size: 1.2rem;
	margin: 8rem 0 4rem 25%;
	opacity: 0;
	padding: 1.5rem 2rem;
	transform: rotate(10deg);
	@include fade(all, 500ms);

	@include device(phone) {
		margin: 0 0 1.5em;
		background-color: $light-tint;
		opacity: 1;
		transform: rotate(0);
	}

	h4 {
		margin-top: 0;
	}

	&.shown {
		margin-top: 4rem;
		background-color: $light-tint;
		opacity: 1;
		transform: rotate(0);
		@include device(phone) {
			margin: 0 0 1.5em;
		}
	}
	
}


/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	font-family: $sans;
	text-align: right;
}
.site-footer a {
	font-weight: 600;
}
.site-footer ul, .site-footer p {
	margin: 0 0 1em; padding: 0;
}

.internal {
	background: transparent url(img/lock.svg) 0 50% no-repeat;
	float: right;
	padding-left: 1.375rem !important;
}
.tactical li, .internal li {
	display: inline;
}
.tactical li:after, .internal li:after {
	content: ' - ';
}
.tactical li:last-child:after, .internal li:last-child:after {
	content: '';
}



